.f-container{
    justify-content: space-between;
    border-top: 5px solid rgba(0,0,0,0.148);
    direction: ltr
}
.f-left{
    gap: 1rem;
}
.f-menu{
    gap: 1.5rem;
    margin-top: 1.5rem;
    font-weight: 500;

}