.property-container{
    gap: 2rem;
    position: relative;
}

.property-container>img{
    align-self: center;
    max-height: 35rem;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
}


.property-details{
    width: 100%;
    gap: 2rem;
    justify-content: space-between;
}

.property-details>div{
    flex:1;
    gap: 1.5rem;
}

.property-details .left .head{
    justify-content: space-between;
    width: 100%;
}

.facilities{
    gap: 0.5em;
    font-size: 0.9rem;
    padding: 1rem;
}

.facility{
    gap: 0.5rem;
}

.property-details .button{
    width: 100%;
    margin-top: 1rem;
}

.property-details .button:hover{
    transform: scale(1.05);
}

.vi-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
  
.prop-video {
    width: 100%;
    max-width: 650px; /* Adjust max-width as needed */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 480px;
}