.h-wrapper{
    color:white;
    direction: ltr;
    background: transparent;
}

.h-container{
    justify-content:space-between;
    width: 100%;
    height: 13vh;
    padding-top: 1rem;
    /* padding-bottom: 1rem; */
    color:var(--secondary);
}

.flexLeft {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flexBetween {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

.h-menu{
    gap: 2rem;

}

.h-menu>*:hover{
    cursor:pointer;
}

.menu-icon{
    display: none;
}
@media(max-width:768px){
    .menu-icon{
        display: block;
    }
    .h-menu{
        color: var(--black);
        position: absolute;
        top: 3rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0,0,0,0.05);
    }
}