.main-layout {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensures video is behind other content */
}
  
.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.header-container {
    position: relative;
    width: 100%;
    z-index: 1;
    background: transparent;
}
  
.hero-wrapper {
    position: relative;
    z-index: 1; /* Ensures hero content is above the background video */
    padding-top: 100px; /* Adjust if needed to position content correctly */
}
  