.v-container.image-container {
  border: 8px solid rgb(232, 232, 232);
}
.v-container > div {
  flex: 1;
}
.v-right {
  gap: 0.5rem;
}
.accordion {
  margin-top: 2rem;
  border: none;
}
.accordionItem {
  background: white;
  border: 0.8px solid rgba(128, 128, 128, 0.143);
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.accordionItem.expanded {
  box-shadow: var(--shadow);
  border-radius: 6px;
}

.accordionButton {
  background: white;
  padding: 1rem;
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.icon {
  padding: 10px;
  background: #eeeeff;
  border-radius: 5px;
}
.icon svg {
  fill: var(--blue);
}
.accordionButton.primaryText {
  font-size: 1.1rem;
}

.v-left {
  flex: 1;
  order: 2;
  padding: 105px; /* Change the order */
}

.v-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  order: 1; /* Change the order */
}
/* .image-container {
    margin: 0;
    width: 35rem;
    height: 50rem;
    overflow: hidden;
    border-radius: 5rem 5rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
  } */

.image-container {
  border: 8px solid rgb(232, 232, 232);
  width: 35rem;
  height: 45rem;
  justify-content: center;
  border-radius: 20rem 20rem 0 0;
  align-items: center;
  padding: 1;
  
}

.image-container video{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
