/* .hero-wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
    /* background-color: var(--black ); */
/*

/* .hero-container{
    justify-content: space-between;
    align-items: flex-end;
} */

/* {left side} */

/* .hero-left{
    gap: 3rem;

}

.hero-right{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.hero-title{
    position: relative;
    z-index: 1;
}

.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
}

.orange-circle{
    height: 4rem;
    width: 4rem;
    background:var(--orange-gradient);
    border-radius: 999px;
    position: absolute;
    right: 18%;
    top: -19px;
    z-index: -1;
}

.search-bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120,120, 0, 0.374);
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width: 100%;
}

.search-bar>input{
    border: none;
    outline: none;
}

.stats{
    width: 100%;
    justify-content: space-between;

}

.stat>:nth-child(1)
{
    font: size 2rem;
}

.stat>:nth-child(1)>:last-child{
    color:orange
} */

/* right slide */

/* .image-container{
    width: 80rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 5rem 5rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}
.image-container>img{
    width: 100%;
    height: 100%;
}

.video-content {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
  }

.v-co{
    width: 10rem;
    height: 15rem;
}

.image-container2{
    width: 10rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 5rem 5rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
}
.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }
  
.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */


.hero-wrapper {
    color: white;
    position: relative;
    padding-bottom: 2rem;
    overflow: hidden;
}
  
.hero-container {
    justify-content: space-between;
    align-items: flex-end;
    z-index: 2;
    position: relative;
}
  
  /* left side */

.hero-left {
    gap: 3rem;
}
  
  .hero-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  
  .hero-title {
    position: relative;
    z-index: 1;
  }
  
  .hero-title > h1 {
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
  }
  
  .orange-circle {
    height: 4rem;
    width: 4rem;
    background: var(--orange-gradient);
    border-radius: 999px;
    position: absolute;
    right: 18%;
    top: -19px;
    z-index: -1;
  }
  
  .search-bar {
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120, 120, 0, 0.374);
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width: 100%;
  }
  
  .search-bar > input {
    border: none;
    outline: none;
  }
  
.stats {
    width: 100%;
    justify-content: space-between;
  }
  
.stat > :nth-child(1) {
    font-size: 2rem;
  }
  
.stat > :nth-child(1) > :last-child {
    color: orange;
  }
  
  /* right side */

.image-container {
    width: 10rem;
    height: 15rem;
    overflow: hidden;
    border-radius: 5rem 5rem 0 0;
    border: 8px solid rgba(255, 255, 255, 0.12);
  }
  
.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* background video */

.video-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    overflow: hidden;
}
  
.background-video {
    width: 100%;
    height: 100%;
    object-fit: cover;

}
